/* ---====VARIABLES====--- -*/
:root {
    --bg-color: rgb(255, 255, 255);
    --font-color: #0f0f0f;
    --borders-color: red;
    --font-color2: gray;
}
/* ---====GLOBAL=SETTINGS====--- */

* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-weight: none;
    font-style: normal;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    color: var(--font-color);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

}
.home-content {
    padding-left: 10%;
    padding-right: 10%;
    }
.cart {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red
    }
.cart table {
    border: 2px solid red
    }
/*  ---==== HEADER ====--- */
header {
    padding: 0 6px;
    margin-bottom: 30px;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}
.line {
    position: fixed;
    top: 109px;
    background: linear-gradient(to right, white, red, white);
    z-index: 4;
    width: 648px;
    height: 1px;
}
.grop {
    position: fixed;
    top: 110px;
    padding: 6px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 2);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
}
.grop a {
    color: var(--font-color2);
}
.grop a:hover {
    border-bottom: 2px solid red;
    font-weight: bold;
    color: black;
}
header .col-left, header .col-right, .site-logo, .base {
    display: flex;
    align-items: center;
}
header .icon {
    height: 80px;   
}
header .title {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color2);
}
nav.base .nav-item {
    margin-left: 8px;
    padding: 4px 8px;
}
.nav-item{
    transition: 1s; /* Время эффекта */
    color: var(--font-color2);
}
.nav-item:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
    color: black;
    border-bottom: 1px solid red;
}

.nav-list{
    margin: 20px;
    transition: 1s; /* Время эффекта */
    text-align: center;
    color: var(--font-color2);
    font-weight: bold;
}
.nav-list:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
    color: black;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}
/*Кнопка купить*/
#sale {
    margin-bottom: 15px;
    border: 2px solid var(--borders-color);
    border-radius: 20px;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
}
#sale:hover {
    box-shadow: 1px 1px 4px black, 0 0 1em;
}
/*zoom*/
.scale8 {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
.scale8 img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
.scale8 img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
/*Блеск*/
.scale {
    position: relative;
}
.scale:after {
    content: "";
    height: 200%;
    left: -230%;
    opacity: 0;
    position: absolute  ;
    top: -20%;
    transform: rotate(-30deg);
    width: 200%;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}
/*плавное появление*/

/* Hover state - trigger effect */

.scale:hover:after {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
}
  /* Active state */
  
.scale:active:after {
    opacity: 0;
}
.home-title {
   margin-bottom: 20px;
   border-bottom: 2px solid var(--borders-color);
   font-size: 30px;

}
.home-content {
    margin: 50px;
    text-align: justify;
    font-size: 25px;

 }


/* BURGER NAV (Adaptiv menu) */
/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

/* Шапка */
.header {
    padding: 15px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/* Навигационное меню */
.nav {
    display: flex;
    gap: 20px;
    margin: 30px;
}
.bn-item {
    color: gray;

}

.bn-item:hover {
    color: #6f4141;
    font-size: 1.1em;

}
.bn-item.active {
    color: black; /* Цвет для активной ссылки */
    font-weight: bold;

}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #ff6347; /* Цвет при наведении */
}

/* Бургер-меню */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;

}

.burger span {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

/* Адаптивность */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 135px;
        right: auto;
        left: auto;
        background-color: white;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 2);
        padding: 10px;
        border-radius: 15px;
        width: 90%;


    }
    .nav.active {
        display: flex;


    }
    .home-content {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 15px;
    }
    .home-title {
    text-align: center;
    }
    .container {
    display: flex;
    justify-content: space-around;
    }
    .card {
    font-size: 10px;
    }

}
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
    background-color: red;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
    background-color: red;
}
.search {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем стандартный контур при фокусе */

}



/*.burger-button {
    display: none;
}
.burger-button:hover .burger-menu {
    display: flex;
}
.burger-icon {
    height: 50px;
}

.burger-menu {
    border-left: 4px solid var(--borders-color);
    width: 100vh;
    background-color: var(--bg-color);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.bn-item {
    padding: 4px 16px;
    font-size: 1.1em;
}

@media screen and (max-width: 520px) {
    nav.base { display: none;}
    .burger-button { display: block;}
    .home-content {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 15px;
    }
    .home-title {
    text-align: center;
    }

*/


.maps {
    display: flex; /* Используем Flexbox */
    justify-content: center;
}
.contacts {
    padding: 10px;
    padding-top: 25px;
    text-align: center;
}
.contact1 {
    font-size: 12px;
    color: var(--font-color2);
}



/*слайдер*/
.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.carousel-3d figure img {
    user-select: none;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-3d nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel-3d nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: var(--borders-color);
    background: white;
    border: 1px solid var(--borders-color);
    padding: 5px 10px;
    font-weight: bold;
    transition: all .3s ease;
}
.carousel-3d nav button:hover {
    color: #FFF;
    background: red;
}

.produkt {
    display:inline-block;
    margin: 10px;
    padding: 10px;  
   }
.produkt {
    transition: 0.1s; /* Время эффекта */

   }
.produkt:hover {
    transform: scale(1.02); /* Увеличиваем масштаб */
    /* box-shadow: 1px 1px 4px rgb(46, 46, 46), 0 0 1em; */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1), 0 0 0.2em;
    color: black;
    /* background-color: rgba(128, 128, 128, 0.171); */
}

.produkt_list {
    display:inline-block;
    margin: 10px;
    padding: 10px;  
    background-color: rgba(128, 128, 128, 0.171);
}
.produkt_list_info {
    display:inline-block;
    margin: 10px;
    padding: 10px;  
    background-color: rgba(128, 128, 128, 0.171);
    
}
.produkt_list_info h1 {
    border-bottom: 2px solid var(--borders-color);
    margin-bottom: 10px;  
}
.produkt_list_info h3 {
    border-bottom: 2px solid var(--borders-color);
    margin-bottom: 10px;
    color: var(--font-color2) ;
}
.container {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#prod:hover  {
    transform: scale(1.02); /* Увеличиваем масштаб */
    box-shadow: 1px 1px 4px rgb(252, 251, 251), 0 0 1em;
    color: black;
    background-color: rgba(128, 128, 128, 0.171);
}
#prod:focus  {
    border: 1px solid var(--borders-color);
}

#radioButton {
    /* border: 2px solid gray; */
    background: linear-gradient(white, rgb(219, 219, 219));
    font-size: 15px;
    padding: 4px;
    text-align: center;
    
}
.pr, .pr2, .pr3 {
    width: 400px;
}


#model3d {
    border: 2px solid var(--borders-color);
    border-radius: 20px;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
    
}

/* popup */
.bold-button {
    font-weight: bolder;
}
.bold-button {
    transition: 0.5s; /* Время эффекта */

   }
.bold-button:hover {
    transform: scale(1.2);
}
/* поиск*/
.search_block {
    border: solid var(--borders-color) 2px;
    height: 16px;
    padding: 5px;
    border-radius: 8px;
}
/*
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.forms {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
.search{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 10px;
}
*//*
.submit{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat var(--borders-color);
    border: 0;
}
/*
.forms:hover > .submit{
    transform: translate(200px, 0);
    transition: 0.8s;
    background-color: var(--borders-color);
    border-color: var(--borders-color);
    border: solid var(--borders-color) 2px;
}
.forms:hover > .search{
    width: 240px;
    border-radius: 20px;
    transform-origin: left;
    transition: 0.8s;
    border: solid var(--borders-color) 2px;
}
.search:active {
    border: solid var(--borders-color) 2px;
}*/
/* =====Описание===== */

/* =====ASIDE===== */
aside {
	border: 4px solid var(--borders-color);
	border-radius: 50%;

	width: 70px;
	height: 70px;
	
	background-color: var(--title-color);

	position: fixed;
	right: 30px;
	bottom: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	user-select: none;
}

aside:hover {
	background-color: #38e928;
	color: #0000CC;
}
#asi {
    margin-top: 11px;
    width: 50px;
    height: 50px;
}
aside button {
	border: none;
	background: none;

	font: bold italic 50px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: inherit;
}
/* =====Обратная связь===== */   

.call {
    border: 2px solid var(--borders-color);
    border-radius: 10px;
    padding: 0.5em 0.5em 0;
    position: fixed;
	right: 30px;
	bottom: 30px;
}
  
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    background-color:white;
    border-radius: 8px;
}
  
.call[open] {
    padding: 0.5em;
    background-color: white;
    color: black;
}
  
.call[open] summary {
    border-bottom: 2px solid var(--font-color2);
    margin-bottom: 0.5em;
    background-color: white;
    color: black;  
}
.next:hover {
    background-color: red;

	color:white;
}
.call input {
    background-image: linear-gradient(to right,black,red); /* Параметры градиента */
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: 2px 2px; /* Линия будет шириной 10px и высотой 2px */
    background-position: left bottom; /* Положение в левом нижнем углу */
    padding-bottom: 2px; /* Расстояние от текста до линии */
    text-decoration: none; /* Убираем подчёркивание */
    transition: 0.3s; /* Время перехода */
}
.call input:hover {
    
    background-size: 100% 2px; /* Линия занимает всю ширину */
    
}
/* =====Корзина===== */   

.shopping-cart {
    border: 2px solid var(--borders-color);
    border-radius: 10px;
    padding: 0.5em 0.5em 0;
    position: fixed;
	right: 30px;
	top: 100px;
    color: black;
    
}
  
summary {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}
summary:hover {
    color: black;
} 

 
.shopping-cart[open] {
    padding: 0.5em;
    background-color: white;
    color: black;
    
}


.shopping-cart[open] summary {
    border-bottom: 2px solid var(--font-color2);
    margin-bottom: 0.5em;
    background-color: white;
    color: black;
    
}
.cart-items {
    list-style-type: none;
}
.add-to-cart:hover {
    text-shadow: 1px 1px 4px red, 0 0 1em;
    color: black;
    background-color: rgba(128, 128, 128, 0.171);
}
.checkout-button:hover {
    background-color: red;
    border-radius: 4px;
	color:white;
}
/* =====всплывающее окно===== */
.popup {
    position: fixed;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background-color: #ffffffd7;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1), 0 0 0.2em;
    border-radius: 15px;
    opacity: 1;
    z-index: 1;
    display: none;
}
.popup button {

    text-align: center;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    transition: 1s;
    display: block;
}
.popup button:hover {
    color:red;
    transform: scale(3);

}
.form-example {
    margin-top: 40px;
    text-align: center;
}
.form-example1 input{
    background-color: rgb(223, 222, 222);
    width: 250px;
}
/* =====сообщение успех===== */
.messages {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.messages li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.home_user {
    text-align: left;
    margin-left: 10%;

    padding: 20px;
}


.login_page {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btnlog {
    background: green;
    float: left;
}

.form-label_requiredField {
    border-button: 1px solid #ccc;
}
/* =====пагинация===== */
.pagination-container {
    display: flex; /* Делаем родительский элемент Flex-контейнером */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-bottom: 100px; /* Отступ снизу */
}

.pagination {

    margin-bottom: 100px;

}
.page-item{
    display:inline-block;
    margin: 5px;
    padding 5px;
}
.page-item.active .page-link {
    color: red;
    font-size: 1.5em

}
.page-item:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
    /* box-shadow: 1px 1px 4px rgb(46, 46, 46), 0 0 1em; */
    /*box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1), 0 0 0.2em;*/


