{% extends 'base.html' %}

{% block content %}
<div class="cart">
    <h1>Ваша корзина</h1>

    {% if cart %}
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цвет</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Итого</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td><a href="{% url 'list' item.note.id %}">{{ item.note.name }}</a></td>
                        <td>{{ item.color }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }} &#8381;</td>
                        <td>{{ item.total_price }} &#8381;</td>
                        <td>
                            <form method="POST" action="{% url 'remove_from_cart' item.note.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="color" value="{{ item.color }}">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Общая сумма: {{ total_price }} &#8381;</h2>  <!-- Используем переданную общую сумму -->

        <h2>Оформление заказа</h2>
        <form id="order-form" action="{% url 'create_order' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="name">Фамилия Имя:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div>
                <label for="tel">Телефон:</label>
                <input type="tel" id="tel" name="tel" required placeholder="+7XXXXXXXXXX" pattern="\+7[0-9]{10}" />
            </div>
            <div>
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" required />
            </div>
            <h3>Товары в заказе:</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.note.name }} - Цвет: {{ item.color }}, Кол-во: {{ item.quantity }}, Цена: {{ item.price }} &#8381;
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Купить в 1 клик" />
        </form>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}