{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main>
        <div class="contacts">
            <h2> Контакты </h2>
            <div class="contact1"> Адрес </div>
            <div class="contact2"> г. Екатеринбург, ул.Черняховского, 67 Б </div>
            <div class="contact1"> Телефон </div>
            <div class="contact2"><a href="tel:+7 (343) 000-00-00" target="_blank" >+7 (343) 000-00-00</a> </div>
            <div class="contact1"> Электронная почта</div>
            <div class="contact2"><a href="pochta@mail.ru" target="_blank" >pochta@mail.ru</a></div>
            <div class="contact1"> Режим работы</div>
            <div class="contact2"> пн-пт. 9:00 - 17:30, сб, вс. выходной </div>
        </div>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1300.6102111290684!2d60.73617764618194!3d56.75400854531444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c1698b0d8a1b33%3A0xe377ea8d58851b06!2z0J7QvNC10YLQsCwg0LzQtdCx0LXQu9GM0L3QsNGPINGE0LDQsdGA0LjQutCw!5e0!3m2!1sru!2sru!4v1732853768233!5m2!1sru!2sru" width="80%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
{% endblock %}
