{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <div class="line"></div>
    <div class="grop"><b>Сортировка:</b><a href="?sorter=price"> цена &#11014;</a><a href="?sorter=-price">| цена &#11015;</a><a href="?sorter=name">| название</a>&nbsp &nbsp &nbsp
    <b>Группы:</b><a href="?grop=Стол">  столы </a><a href="?grop=Шкаф">| шкафы </a><a href="?grop=Тумба">| тумбы </a><a href="?grop=Кушетка">| кушетки </a>
    </div>
    <div id="produkt_price" style="margin-left: auto; margin-right: auto;">
        {% for note in page_obj %}
        <div class="produkt">
        <a href="{% url 'list' note.id %}">
            <h1>{{note.name}}</h1>
            <h3>Размеры(мм): {{note.sitze}}</h3>
        </a>
            <div id="radioButton">
                <a href="{% url 'list' note.id %}"><h1><img src='{% get_static_prefix %}images/{{note.id}}b.jpg' alt="pr{{note.id}}" class="pr{{note.id}}" style="width: 300px;"></h1></a>
                <div onclick="myFunction('{{note.id}}a', '{{note.color1}}')" class="produkt{{note.id}}a" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{note.id}}a.gif' class="prod{{note.id}}a" alt="pr1"  style="width: 96px;"><p style="font-size: 8px; word-break: normal;"> Промо</p></div>
                <div onclick="myFunction('{{note.id}}b', '{{note.color1}}')" class="produkt{{note.id}}b" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{note.id}}b.jpg' class="prod{{note.id}}b" alt="pr1"  style="width: 96px;"><p style="font-size: 8px">{{note.color1}}</p></div>
                <div onclick="myFunction('{{note.id}}c', '{{note.color2}}')" class="produkt{{note.id}}c" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{note.id}}c.jpg' class="prod{{note.id}}c" alt="pr1"  style="width: 96px;"><p style="font-size: 8px">{{note.color2}}</p></div>
                <div onclick="myFunction('{{note.id}}d', '{{note.color3}}')" class="produkt{{note.id}}d" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{note.id}}d.jpg' class="prod{{note.id}}d" alt="pr1"  style="width: 96px;"><p style="font-size: 8px">{{note.color3}}</p></div>
            </div>
            <p class="count" data-note-id="{{ note.id }}">
                <label for="count-{{ note.id }}">Шт: </label>
                <input type="number" step="1" min="1" max="100" value="1" id="count-{{ note.id }}" name="count"/>
            </p>
<p class="price">Цена: {{note.price}} рублей</p>
            <button onclick="openPopup(event)" class="add-to-cart" data-name = "{{note.name}}"  data-color ="{{note.color1}}" data-price = "{{note.price}}" data-img="{% get_static_prefix %}images/{{ note.id }}b.jpg" data-value="">Купить в 1 клик</button>
        </div>
        {% endfor %}
        </div>
</main>
<nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if grop %}&grop={{ grop }}{% endif %}{% if sorter %}&sorter={{ sorter }}{% endif %}" aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if grop %}&grop={{ grop }}{% endif %}{% if sorter %}&sorter={{ sorter }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if grop %}&grop={{ grop }}{% endif %}{% if sorter %}&sorter={{ sorter }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if grop %}&grop={{ grop }}{% endif %}{% if sorter %}&sorter={{ sorter }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if grop %}&grop={{ grop }}{% endif %}{% if sorter %}&sorter={{ sorter }}{% endif %}" aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="popup">
    <button onclick="closePopup()">&#10006;</button>
    <form action="{% url 'create_order' %}" method="post" class="form-example">
        {% csrf_token %}
        <div class="form-example1">
            <p><label for="name">Фамилия Имя:</label></p>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-example1">
            <p><label for="tel">Телефон: </label></p>
            <input type="tel" name="tel" id="tel" pattern="\+7[0-9]{10}" value="+7" required maxlength="12" placeholder="+7XXXXXXXXXX"/>
        </div>
        <div class="form-example1">
            <p><label for="email">E-Mail: </label></p>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="shopprod1">
        </div>
        <div class="shopprod5">
        </div>
        <div class="shopprod4">
            Количество: <span id="product-count"></span>
        </div>
        <div class="shopprod2">
        </div>
        <img class="shopprod3" style="width: 150px;" src="" >
        <div class="form-example2">
          <input type="submit" value="Купить в 1 клик" class="bold-button" />
        </div>
        <input type="hidden" name="other" value="" class="shopprod6" />
    </form>
</div>
{% endblock %}